.td {
  display: inline-block;
  vertical-align: bottom;
  box-sizing: border-box;
  >div {
    padding: 8px;
    box-sizing: border-box;
    a {
      cursor: pointer;
    }
  }
}
.fixed-row-height {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.tr {
  border-top: 1px solid #eceeef;
  white-space: nowrap;
  box-sizing: border-box;
  &:first-child {
    border-top: none !important;
  }
}
.tr-bordered>.td {
  margin-left: -1px;
  border-left: 1px solid #eceeef;
  &:first-child {
    margin-left: 0;
    border-left: none;
  }
}
.tr-striped:nth-of-type(odd) {
  background-color: #f9f9f9;
  &.tr-inverse {
    color: #373a3c;
  }
}
.tr-hover:hover {
  background-color: #f5f5f5;
  &.tr-inverse {
    color: #373a3c;
  }
}
.tr-inverse {
  border-color: #55595c;
  >.td {
    border-color: #55595c;
  }
}
.tr-selected {
  background-color: #d9edf7;
}

.tbody {
  position: relative;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
.tbody-bordered:not(.tbody-inverse) {
  width: calc(100% + 2px);
}
.tbody-scrollbar {
  overflow-y: auto;
}
