.td {
  display: inline-block;
  >div {
    padding: 8px;
    box-sizing: border-box;
    a {
      cursor: pointer;
    }
  }
}
.fixed-row-height {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
