.tr {
  border-top: 1px solid #eceeef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  -o-flex-flow: row;
  flex-flow: row;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  box-orient: horizontal;
  &:first-child {
    border-top: none !important;
  }
}
.row-hover:hover {
  background-color: #E5F1FF;
}
.row-seleced {
  background-color: #BEDFFF !important;
}
